@import "../../assets/styles/variables";

.App {
    width: 100%;
    height: calc(100vh - 1px);


    &__dashboard{
        display: flex;
        height: 100%;
        flex-direction: row;

        &__container{
            width: 80%;
            &__top-bar {
                background: $bank-primary-blue-second;
                background: $bank-primary-blue-gradient;
                height: 10%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                &__email{
                    color: #fff;
                    font-size: 1.2rem;
                    margin-right: 20px;
                    font-weight: 700;
                }
            }
        }

    }
}
